
<div class="row">

  <div class="col-md-6 col-xl-12">
    <div class="card widget-card-1">
      <div class="card-block-small">
        <!-- <i class="icofont icofont-pie-chart bg-c-blue card1-icon"></i> -->
        <div style="font-size: 30px;">Aircraft 1<div style="font-size: 20px; text-align: right;"><b>{{ main1_text }}</b></div></div>
        
        <div class="row">
          
          <div class="col-md-6 col-xl-6">
            <div class="card widget-card-1" [style.background-color]="e1_rul_color">
              <div class="card-block-small">
                <div class="" style="text-align: center; font-size: 30px;">Engine 1</div>
                <div style="text-align: center; font-size: 50px; margin-bottom: 70px;">
                  <div style="margin-top: 70px;">{{ e1_rul }}</div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-xl-6">
            <div class="card widget-card-1" [style.background-color]="e2_rul_color">
              <div class="card-block-small">
                <div class="" style="text-align: center; font-size: 30px;">Engine 2</div>
                <div style="text-align: center; font-size: 50px; margin-bottom: 70px;">
                  <div style="margin-top: 70px;">{{ e2_rul }}</div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-yellow f-16 icofont icofont-refresh m-r-10"></i>Just updated
          </span>
        </div>
      </div>
    </div>
  </div>  

</div>



<div class="row">

  <div class="col-md-6 col-xl-12">
    <div class="card widget-card-1">
      <div class="card-block-small">
        <!-- <i class="icofont icofont-pie-chart bg-c-blue card1-icon"></i> -->
        <div style="font-size: 30px;">Aircraft 2<div style="font-size: 20px; text-align: right;"><b>{{ main2_text }}</b></div></div>
        
        <div class="row">
          
          <div class="col-md-6 col-xl-6">
            <div class="card widget-card-1" [style.background-color]="e3_rul_color">
              <div class="card-block-small">
                <div class="" style="text-align: center; font-size: 30px;">Engine 1</div>
                <div style="text-align: center; font-size: 50px; margin-bottom: 70px;">
                  <div style="margin-top: 70px;">{{ e3_rul }}</div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-xl-6">
            <div class="card widget-card-1" [style.background-color]="e4_rul_color">
              <div class="card-block-small">
                <div class="" style="text-align: center; font-size: 30px;">Engine 2</div>
                <div style="text-align: center; font-size: 50px; margin-bottom: 70px;">
                  <div style="margin-top: 70px;">{{ e4_rul }}</div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-yellow f-16 icofont icofont-refresh m-r-10"></i>Just updated
          </span>
        </div>
      </div>
    </div>
  </div>  

</div>

<!-- 


<div class="row">

  <div class="col-md-6 col-xl-12">
    <div class="card widget-card-1">
      <div class="card-block-small">
        <div style="font-size: 30px;">Aircraft 3<div style="font-size: 20px; text-align: right;"><b>{{ main3_text }}</b></div></div>
        
        <div class="row">
          
          <div class="col-md-6 col-xl-6">
            <div class="card widget-card-1" [style.background-color]="e3_rul_color">
              <div class="card-block-small">
                <div class="" style="text-align: center; font-size: 30px;">Engine 1</div>
                <div style="text-align: center; font-size: 50px; margin-bottom: 70px;">
                  <div style="margin-top: 70px;">{{ e5_rul }}</div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-xl-6">
            <div class="card widget-card-1" [style.background-color]="e4_rul_color">
              <div class="card-block-small">
                <div class="" style="text-align: center; font-size: 30px;">Engine 2</div>
                <div style="text-align: center; font-size: 50px; margin-bottom: 70px;">
                  <div style="margin-top: 70px;">{{ e6_rul }}</div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-yellow f-16 icofont icofont-refresh m-r-10"></i>Just updated
          </span>
        </div>
      </div>
    </div>
  </div>  

</div>

 -->

<!-- 
<div style="text-align: left; font-size: 20px;" [style.color]="txt_color">
  Dataset Statistics
</div>
<div class="row">

  <div class="col-md-6 col-xl-4">
    <div class="card widget-card-1">
      <div class="card-block-small">
        <i class="icofont icofont-pie-chart bg-c-blue card1-icon"></i>
        <span class="text-c-blue f-w-600">Total Engines</span>
        <h4>249</h4>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-yellow f-16 icofont icofont-refresh m-r-10"></i>Just updated
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-xl-4">
    <div class="card widget-card-1">
      <div class="card-block-small">
        <i class="icofont icofont-pie-chart bg-c-pink card1-icon"></i>
        <span class="text-c-blue f-w-600">Total Sensor Readings</span>
        <h4>21</h4>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-yellow f-16 icofont icofont-refresh m-r-10"></i>Just updated
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-xl-4">
    <div class="card widget-card-1">
      <div class="card-block-small">
        <i class="icofont icofont-pie-chart bg-c-green card1-icon"></i>
        <span class="text-c-blue f-w-600">Operational Settings</span>
        <h4>3</h4>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-yellow f-16 icofont icofont-refresh m-r-10"></i>Just updated
          </span>
        </div>
      </div>
    </div>
  </div>

</div>
 -->

<!-- <div style="text-align: left; font-size: 20px;" [style.color]="txt_color">
  Engine remaining useful life (RUL)
</div> -->
<!-- 
<div class="row">

  <div class="col-md-6 col-xl-4">
    <div class="card widget-card-1" [style.background-color]="e1_rul_color">
      <div class="card-block-small">
        <div class="" style="text-align: center; font-size: 20;">Engine 1</div>
        <h4 style="text-align: center; font-size: 10;">{{ e1_rul }}</h4>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-xl-4">
    <div class="card widget-card-1" [style.background-color]="e2_rul_color">
      <div class="card-block-small">
        <div class="" style="text-align: center; font-size: 20;">Engine 2</div>
        <h4 style="text-align: center; font-size: 10;">{{ e2_rul }}</h4>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-xl-4">
    <div class="card widget-card-1" [style.background-color]="e3_rul_color">
      <div class="card-block-small">
        <div class="" style="text-align: center; font-size: 20;">Engine 3</div>
        <h4 style="text-align: center; font-size: 10;">{{ e3_rul }}</h4>
      </div>
    </div>
  </div>

</div>

<div class="row">

  <div class="col-md-6 col-xl-6">
    <div class="card widget-card-1" [style.background-color]="e4_rul_color">
      <div class="card-block-small">
        <div class="" style="text-align: center; font-size: 20;">Engine 4</div>
        <h4 style="text-align: center; font-size: 10;">{{ e4_rul }}</h4>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-xl-6">
    <div class="card widget-card-1" [style.background-color]="e5_rul_color">
      <div class="card-block-small">
        <div class="" style="text-align: center; font-size: 20;">Engine 5</div>
        <h4 style="text-align: center; font-size: 10;">{{ e5_rul }}</h4>
      </div>
    </div>
  </div>
</div>
 -->
<!-- 
<div style="text-align: left; font-size: 20px;" [style.color]="txt_color">
  Engine will fail within next 20 cycles ?
</div>
<div class="row">

  <div class="col-md-6 col-xl-4">
    <div class="card widget-card-1" [style.background-color]="e1_bin_color">
      <div class="card-block-small">
        <div class="" style="text-align: center; font-size: 15;">Engine 1</div>
        <h4 style="text-align: center; font-size: 10;">{{ e1_bin_text }}</h4>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-xl-4">
    <div class="card widget-card-1" [style.background-color]="e2_bin_color">
      <div class="card-block-small">
        <div class="" style="text-align: center; font-size: 15;">Engine 2</div>
        <h4 style="text-align: center; font-size: 10;">{{ e2_bin_text }}</h4>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-xl-4">
    <div class="card widget-card-1" [style.background-color]="e3_bin_color">
      <div class="card-block-small">
        <div class="" style="text-align: center; font-size: 15;">Engine 3</div>
        <h4 style="text-align: center; font-size: 10;">{{ e3_bin_text }}</h4>
      </div>
    </div>
  </div>

</div>

<div class="row">

  <div class="col-md-6 col-xl-6">
    <div class="card widget-card-1" [style.background-color]="e4_bin_color">
      <div class="card-block-small">
        <div class="" style="text-align: center; font-size: 15;">Engine 4</div>
        <h4 style="text-align: center; font-size: 10;">{{ e4_bin_text }}</h4>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-xl-6">
    <div class="card widget-card-1" [style.background-color]="e5_bin_color">
      <div class="card-block-small">
        <div class="" style="text-align: center; font-size: 15;">Engine 5</div>
        <h4 style="text-align: center; font-size: 10;">{{ e5_bin_text }}</h4>
      </div>
    </div>
  </div>

</div>



<div style="text-align: left; font-size: 20px;" [style.color]="txt_color">
  When engine will fail ?
</div>
<div class="row">

  <div class="col-md-6 col-xl-4">
    <div class="card widget-card-1" [style.background-color]="e1_multi_color">
      <div class="card-block-small">
        <div class="" style="text-align: center; font-size: 15;">Engine 1</div>
        <h4 style="text-align: center; font-size: 10;">{{ e1_multi_text }}</h4>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-xl-4">
    <div class="card widget-card-1" [style.background-color]="e2_multi_color">
      <div class="card-block-small">
        <div class="" style="text-align: center; font-size: 15;">Engine 2</div>
        <h4 style="text-align: center; font-size: 10;">{{ e2_multi_text }}</h4>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-xl-4">
    <div class="card widget-card-1" [style.background-color]="e3_multi_color">
      <div class="card-block-small">
        <div class="" style="text-align: center; font-size: 15;">Engine 3</div>
        <h4 style="text-align: center; font-size: 10;">{{ e3_multi_text }}</h4>
      </div>
    </div>
  </div>

</div>

<div class="row">

  <div class="col-md-6 col-xl-6">
    <div class="card widget-card-1" [style.background-color]="e4_multi_color">
      <div class="card-block-small">
        <div class="" style="text-align: center; font-size: 15;">Engine 4</div>
        <h4 style="text-align: center; font-size: 10;">{{ e4_multi_text }}</h4>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-xl-6">
    <div class="card widget-card-1" [style.background-color]="e5_multi_color">
      <div class="card-block-small">
        <div class="" style="text-align: center; font-size: 15;">Engine 5</div>
        <h4 style="text-align: center; font-size: 10;">{{ e5_multi_text }}</h4>
      </div>
    </div>
  </div>

</div>

 -->